body {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	display: flex;
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	position: relative;
	letter-spacing: 20px;
	font-size: 70px;
	transition: all 0.5s;
	border-radius: 50%;
    animation: loading 3s linear infinite;
    color: transparent;
}
@keyframes loading {
	0% {
        color: rgb(241, 12, 12);
        letter-spacing: 20px;
        transform: translateX(-50px);
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	50% {
		opacity: 1;
		letter-spacing: -20px;
	}

	100% {
        color: rgb(5, 5, 230);
        transform: translateX(50px);
        letter-spacing: 20px;
		opacity: 0;
	}
}
ul li:nth-child(1) {
    animation-delay: 0.1s;
}
ul li:nth-child(2) {
    animation-delay: 0.3s;
}
ul li:nth-child(3) {
    animation-delay: 0.5s;
}
ul li:nth-child(4) {
    animation-delay: 0.7s;
}
ul li:nth-child(5) {
    animation-delay: 0.9s;
}
ul li:nth-child(6) {
    animation-delay: 1s;
}
ul li:nth-child(7) {
    animation-delay: 1.3s;
}